
.home{
   
    background-image: url(/Images/b3.webp);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  
  header{
    background-color: darkgrey;
    text-align: center;
    width: 97%;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

 a{
    text-decoration: none;
    display: flexbox;
    color: white;
    margin: 15px;
    transition: 0.5s ease-in-out;
 }
 
 h1{
   font-size: xx-large;
   font-weight: lighter;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif; 
  padding: 10px;
  color: black;
  }
 p{
  font-size: x-large;
 }
 footer{
 background-color: rgb(202, 187, 159);
   font-size: x-large;
   text-align: center;
   padding: 5px;
  border-radius: 15px;  
  width: 100%;
  margin-top: 20vh;
  font-weight: bolder;
  display: flexbox;
 }
 a:hover{
   box-shadow: 5px 5px 5px white;
   color: darkgreen;
   border-radius: 5px;
 }
 ul{
   font-size: x-large;
   list-style: none;
 }
 h2{
 font-size: x-large;
 }
 div{
  width: 400px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  padding: 5px;
  background: transparent;
 }
 div p{
  transition: 0.5s ease-in-out;
 }
 div p:hover{
  transform: scale(1.1);
  color: green;
 }
 div ul{
    transition: 0.5s ease-in-out;
 }
 div ul:hover{
transform: scale(1.1);
color: green;
 }

}


.order{

  background-image: url(/Images/b1.webp);
  background-size: cover;
   

  header{
    background-color: darkgrey;
    text-align: center;
   width: 97%;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
    footer{
      background-color: rgb(202, 187, 159);
        font-size: x-large;
        text-align: center;
        padding: 5px;
       border-radius: 15px;  
       width: 100%;
       margin-top: 30px;
       font-weight: bolder;
       display: flexbox;
      }
 a{
  text-decoration: none;
  display: flexbox;
  color: white;
  margin: 15px;
  transition: 0.5s ease-in-out;
}

h1{
   font-size: xx-large;
   font-weight: lighter;
   font-family: Arial, Helvetica, sans-serif;   
   text-align: center;
}
a:hover{
  box-shadow: 5px 5px 5px white;
  color: darkgreen;
  border-radius: 5px;
}
form{
   font-size: xx-large;
   text-align: center;
   padding: 15px;
}
.container{
  background-color: beige;
  width: 350px;
  height: auto;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px black;
  display: flex;
  justify-self: center;
}
input{
  height: 30px;
  width: 250px;
}
input:hover{
  background-color: beige;
}
textarea:hover{
  background-color: beige;
}
button{
  height: 5vh;
  width: 150px;
  border-radius: 15px;
  background-color: bisque;
  font-size: x-large;
}
button:hover{
  color: darkred;
  cursor: pointer;
  transform: scale(1.1);
}
label:hover{
color: darkred;
}

}


.gallery{

  background-image: url(/Images/tr\ \(8\).jpg);
  background-size: contain;

  header{
    background-color: darkgrey;
    text-align: center;
    width: 97%;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
    footer{
      background-color: rgb(202, 187, 159);
        font-size: x-large;
        text-align: center;
        padding: 5px;
       border-radius: 15px;  
       width: 100%;
       margin-top: 15px;
       font-weight: bolder;
       display: flexbox;
      }
 a{
  text-decoration: none;
  display: flexbox;
  color: white;
  margin: 15px;
  transition: 0.5s ease-in-out;
}

         img{
          margin: 15px;
          border-radius: 15px;
          width: 250px;
          height: 250px;
          transition: 0.5s ease-in-out;
         }
         p{
             font-size: x-large;
         }
      img:hover{
        transform: scale(1.1); 
        padding:10px;
      }
         a:hover{
          box-shadow: 5px 5px 5px white;
          color: darkgreen;
          border-radius: 5px;
        }
        h1{
          font-family: Arial, Helvetica, sans-serif;          
          text-align: center;
          border-radius: 15px;
          background: transparent;
          color: white;
          padding:10px;
          transition: 0.5s ease-in-out;
          font-weight: lighter;
        }
                 
}

.contact{

  background-image: url(/Images/b1.webp);
  background-size: cover;

  header{
    background-color: darkgrey;
    text-align: center;
    width: 97%;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
    footer{
      background-color: rgb(202, 187, 159);
        font-size: x-large;
        text-align: center;
        padding: 5px;
       border-radius: 15px;  
       width: 100%;
       margin-top: 30px;
       font-weight: bolder;
       display: flexbox;
      }
 a{
  text-decoration: none;
  display: flexbox;
  color: white;
  margin: 15px;
  transition: 0.5s ease-in-out;
}

p{
font-size: x-large;
}
a:hover{
  box-shadow: 5px 5px 5px white;
  color: darkgreen;
  border-radius: 5px;
}

input{
  height: 30px;
  width: 250px;
  margin-left: 15px;
}
input:hover{
  background-color: bisque;
}
textarea{
  margin-left: 15px;
}
textarea:hover{
  background-color: bisque;
}
button{
  height: 5vh;
  width: 150px;
  border-radius: 15px;
  background-color: white;
  font-size: x-large;
  margin-left: 15px;
}
button:hover{
  color: white;
  background-color: black;
  cursor: pointer;
  transform: scale(1.1);
  outline: 3px solid white;
}
label{
  font-size: xx-large;
  margin-left: 15px;
}
label:hover{
  color: darkred;
  }
  h1{
    color: white;
  }
  p{
    color: white;
  }
  .contain{
   display: flex;
   height: 70vh;
   margin-top: 15px;
   width: 100%;
  }
  .contain .formContainer{
    width: 400px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: bisque;
    height: 70vh;
  }
  .contain .contactContainer{
    width: 400px;
    height: 40vh;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    background-color:burlywood;
    margin-right: 10px;
  }
  .contactContainer p{
    color: white;
  }

}
.about{

  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/Images/b2.jpg);

  header{
    background-color: darkgrey;
    text-align: center;
    width: 97%;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 footer{
  background-color: rgb(202, 187, 159);
    font-size: x-large;
    text-align: center;
    padding: 5px;
   border-radius: 15px;  
   width: 100%;
   margin-top: 15px;
   font-weight: bolder;
   display: flexbox;
  }
 a{
  text-decoration: none;
  display: flexbox;
  color: white;
  margin: 15px;
  transition: 0.5s ease-in-out;
}

a:hover{
  box-shadow: 5px 5px 5px white;
  color: darkgreen;
  border-radius: 5px;
}

.aboutContainer{
  background: transparent;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
  background-color: rgb(238, 231, 231);
}
p{
  font-size: x-large;
  padding: 10px ;
  text-align: center;
  color: black;
}
h2{
  font-size:xx-large;
  text-align: center;
  color: white;
}

.MissionContainer{
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
  background-color:  rgb(238, 231, 231);
}
.VissionContainer{
   width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
  background-color:  rgb(238, 231, 231);
}


}

.map{

  section{
height: 50vh;
display: flex;
  }
  .Container1{
    border: 4px solid black;
    width: 50%;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    padding-top: 20vh;
    padding-bottom: 25vh;
    background-color: red;
  }
a{
  text-decoration: none;
  font-size: xx-large;
}
.Container2{
  border: 4px solid black;
    width: 50%;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    padding-top: 20vh;
    padding-bottom: 25vh;
    background-color: red;
}
a:hover{
  color: white;
  text-decoration:underline;
}

}
.thankYou{

  background-image: url(/Images/tr\ \(6\).jpg);
     
   header{
    background-color: darkgrey;
    text-align: center;
    width: 97%;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
     
      a{
  text-decoration: none;
  display: flexbox;
  color: white;
  margin: 15px;
  transition: 0.5s ease-in-out;
}

a:hover{
  box-shadow: 5px 5px 5px white;
  color: darkgreen;
  border-radius: 5px;
}
    
     h1{
        font-size: xx-large;
        text-align: center;
     }
}
@media  only screen and (max-width: 600px){
  .home a{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    margin: 3px;
  }
  .home header{
    width: 95%;
    background-color: white;
    padding: 5px;
}
.home{
  background-image: url(Images/b3.webp);
  background-size: 350px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
.home h1{
  font-size: large;
}
.home div{
  height: 40vh;
  width: 95%;
  background-color: beige;
}
.home p{

  font-size: larger;
  color: green;
}
.home div li{
  font-size: large;
  color: green;
  display: flexbox;
 
}
.home footer{
 margin: 5px;
 width: 95%;
 background-color: rgb(202, 187, 159);
 font-weight: lighter;
 }
 .gallery{
  background-size: 350px;
 }
  .gallery a{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    margin: 3px;
  }
  .gallery header{
    width: 97%;
    background-color: white;
    padding: 5px;
}
.gallery h1{
  margin-left: 30%;
  margin-right: 30%;
  padding: 3px;
  font-size: large;
  font-weight: lighter;
}
.gallery img{
 height: 30vh;
 width: 30vh;
}
.gallery footer{
 margin: 5px;
 outline: none;
 width: 95%;
 background-color: rgb(202, 187, 159);
 font-weight: lighter;
 }
 .order{
  background-size: 350px;
 }
  .order header{
    width: 97%;
    background-color: white;
    padding: 5px;
}
  .order a{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    margin: 3px;
  }
  .order form{
   font-size: large;
   text-align: center;
   padding: 10px;
  }
  .order .container{
  outline: none;
  margin-top: 10px;
  width: 97%;
  margin-left: 0px;
  box-shadow: 3px 3px 3px black;
  }
  .order form button{
    padding: 5px;
    font-size: large;
    margin-top: 5px;
    padding-bottom: 25px;
  }
  .order footer{
 margin-top: 15px;
 outline: none;
 width: 95%;
 background-color: rgb(202, 187, 159);
 font-weight: lighter;
 }
   .about header{
    width: 97%;
    background-color: white;
    padding: 5px;
}
  .about a{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    margin: 3px;
  }
  .about p{
    font-size: large;
  }
  .about footer{
     margin-top: 15px;
 outline: none;
 width: 95%;
 background-color: rgb(202, 187, 159);
 font-weight: lighter;
  }
  .contact{
    background-size: 350px;
  }
    .contact header{
    width: 97%;
    background-color: white;
    padding: 5px;
}
  .contact a{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    margin: 3px;
  }
  .contact .contain{
   flex-direction: column;
  }
  .contact .contain .formContainer{
   width: 95%;
   background: transparent;
  }
  .contact .contain .formContainer label{
    font-size: large;
  }
  .contact .contain .formContainer input{
    height: 25px;
  }
  .contact .contain .formContainer button{
    padding-bottom: 30px;
  }
  .contact .contain .contactContainer{
    width: 95%;
    height: 45vh;
    margin-left: 1px;
  }
    .contact footer{
 margin-top: 50vh;
 outline: none;
 width: 95%;
 background-color: rgb(202, 187, 159);
 font-weight: lighter;
 }

}




