
.home{
   
    background-image: url(/Images/b2.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  
  header{
    background-color: #2a3544c5;
    margin-top: none;
    margin-right: 0px;
    text-align: center;
    width: 97%;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

 a{
    text-decoration: none;
    display: flexbox;
    color: white;
    margin: 15px;
    font-size: x-large;
    transition: 0.5s ease-in-out;
 }
 
 h1{
   font-size: xx-large;
   font-weight: lighter;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif; 
  padding: 10px;
  color: black;
  }
 footer{
 background-color: rgb(202, 187, 159);
    font-size: x-large;
    text-align: center;
    padding: 5px;
   border-radius: 15px;  
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   width: 100%;
   margin-top: 65vh;
   font-weight: bolder;
   display: flexbox;
 }
 a:hover{
   color: black;
   border-radius: 5px;
 }
 h2{
 font-size: x-large;
 }
 div{
  width: 400px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  padding: 5px;
  background-color: rgba(138, 138, 40, 0.589);
 }


}


.order{

  background-image: url(/Images/b1.webp);
  background-size: cover;
   

  header{
    background-color: #2a3544c5;
    margin-top: none;
    margin-right: 0px;
    text-align: center;
    width: 97%;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
    footer{
    background-color: rgb(202, 187, 159);
    font-size: x-large;
    text-align: center;
    padding: 5px;
   border-radius: 15px;  
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   width: 100%;
   margin-top: 15px;
   font-weight: bolder;
   display: flexbox;
      }
 a{
  text-decoration: none;
  display: flexbox;
  color: white;
  margin: 15px;
  font-size:  x-large;
  transition: 0.5s ease-in-out;
}
p{
 font-size: x-large;
 color: black;
}
h1{
   font-size: xx-large;
   font-weight: lighter;
   font-family: Arial, Helvetica, sans-serif;   
   text-align: center;
}
 a:hover{
   color: black;
   border-radius: 5px;
 }
form{
  z-index: 1;
   font-size: xx-large;
   text-align: center;
   padding: 30px;
}
.container{
  background-color: beige;
  width: 400px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 15px black;
  display: flex;
  justify-self: center;
}
input{
  height: 30px;
  width: 250px;
  border-radius: 5px;
  padding: 10px;
}
#productsSelector{
  padding: 10px;
  width: 250px;
  border-radius: 5px;
}
#productid{
  padding: 10px;
  width: 250px;
  border-radius: 5px;
}

#amountList{
 padding: 10px;
  width: 250px;
  border-radius: 5px;
}
input:hover{
  background-color: rgb(231, 231, 187);
  outline: 1px solid black;
}
textarea:hover{
  background-color: rgb(231, 231, 187);
  outline: 1px solid black;
}
textarea{
  width: 250px;
  border-radius: 5px;
}
#formSubmit{
padding: 15px;
  width: 150px;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-size: x-large;
  transition: 0.5s ease-in-out;
}
#formSubmit:hover{
  color: grey;
  cursor: pointer;
  border: 2px solid grey;
}
label:hover{
color: darkred;
}
#results{
  position:fixed;
  z-index: 999;
  background-color:   beige;
  font-size: xx-large;
  height: 50vh;
  display: none;
  justify-content: center;
  border-radius: 5px;
  width: 400px;
  border: 2px solid grey;
  text-align: center;
  box-shadow: 0 0 10px black;
}


}


.Gallery{

  background-color: wheat;
  background-size: contain;

  header{
    background-color: #2a3544c5;
    margin-top: none;
    margin-right: 0px;
    text-align: center;
    width: 97%;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
    footer{
       background-color: rgb(202, 187, 159);
    font-size: x-large;
    text-align: center;
    padding: 5px;
   border-radius: 15px;  
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   width: 100%;
   margin-top: 15px;
   font-weight: bolder;
   display: flexbox;
      }
 a{
  text-decoration: none;
  display: flexbox;
  color: white;
  margin: 15px;
  font-size:  x-large;
  transition: 0.5s ease-in-out;
}


         img{
          margin: 15px;
          border-radius: 15px;
          width: 250px;
          height: 250px;
          transition: 0.5s ease-in-out;
         }

         p{
             font-size: x-large;
         }
           a:hover{
   color: black;
   border-radius: 5px;
 }
        h1{
          font-family: Arial, Helvetica, sans-serif;          
          text-align: center;
          border-radius: 15px;
          background: transparent;
          color: black;
          padding:10px;
          transition: 0.5s ease-in-out;
          font-weight: lighter;
        }
        #gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}


#gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

#gallery img:hover {
  transform: scale(1.05);

}

/* Lightbox Styles */
.lightbox {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
#info {
  color: white;
  margin-top: 10px;
  font-size: xx-large;
  outline: solid 2px white;
  border-radius: 10px;
  padding: 10px;
  gap: 1rem;
}
#info #submit{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  font-size: x-large;
  color: black;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
#info #submit:hover{
  cursor: pointer;
  border: 2px solid white ;
  color: grey;
}
.lightbox img {
  width: 800px;
  height: 600px;
  border-radius: 10px;
  object-fit:fill;
  background-color: rgba(255, 255, 255, 0.664);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: x-large;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  
}
.searchContainer{
  text-align: center;
}   
.searchProducts{
  width: 80%;
  height: 7vh;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.searchProducts:hover{
 border: 2px solid grey;
}


}


.contact{

  background-image: url(/Images/b1.webp);
  background-size: cover;

  header{
   background-color: #2a3544c5;
    margin-top: none;
    margin-right: 0px;
    text-align: center;
    width: 97%;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
    footer{
      background-color: rgb(202, 187, 159);
    font-size: x-large;
    text-align: center;
    padding: 5px;
   border-radius: 15px;  
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   width: 100%;
   margin-top: 30px;
   font-weight: bolder;
   display: flexbox;
      }
 a{
  text-decoration: none;
  display: flexbox;
  color: white;
  margin: 15px;
  font-size:  x-large;
  transition: 0.5s ease-in-out;
}

p{
font-size: x-large;
}
 a:hover{
   color: black;
   border-radius: 5px;
 }

input{
  height: 30px;
  width: 250px;
  margin-left: 15px;
}
input:hover{
  background-color: bisque;
}
textarea{
  margin-left: 15px;
}
textarea:hover{
  background-color: bisque;
}
button{
  height: 5vh;
  width: 150px;
  border-radius: 15px;
  background-color: white;
  font-size: x-large;
  margin-left: 15px;
}
button:hover{
  color: white;
  background-color: black;
  cursor: pointer;
  transform: scale(1.1);
  outline: 3px solid white;
}
label{
  font-size: xx-large;
  margin-left: 15px;
}
label:hover{
  color: darkred;
  }
  h1{
    color: white;
  }
  p{
    color: white;
  }
  .contain{
   display: flex;
   height: 70vh;
   margin-top: 15px;
   width: 100%;
  }
  .contain .formContainer{
    width: 400px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: bisque;
    height: 70vh;
  }
  .contain .contactContainer{
    width: 400px;
    height: 40vh;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    background-color:burlywood;
    margin-right: 10px;
  }
  .contactContainer p{
    color: white;
  }

}
.about{

  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/Images/b1.webp);
  background-size: 1500px;


  header{
     background-color: #2a3544c5;
    margin-top: none;
    margin-right: 0px;
    text-align: center;
    width: 97%;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 footer{
 background-color: rgb(202, 187, 159);
    font-size: x-large;
    text-align: center;
    padding: 5px;
   border-radius: 15px;  
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   width: 100%;
   margin-top: 15px;
   font-weight: bolder;
   display: flexbox;
  }
 a{
  text-decoration: none;
  display: flexbox;
  color: white;
  margin: 15px;
  font-size:  x-large;
  transition: 0.5s ease-in-out;
}

 a:hover{
   color: black;
   border-radius: 5px;
 }

.aboutContainer{
  background: transparent;
  width: 50%;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
  background-color: rgba(238, 231, 231, 0.856);
  padding: 5px;
  display: flexbox;
   margin: 20px;
}
.History{
  width: 100%;
  display: flex;
}
.HistoryImage{
  width: 50%;
  text-align: center;
 
}
.HistoryImage img{
margin-top: 20px;
width: 30rem;
height: 30rem;
border-radius: 10px;
box-shadow: 0 0 10px black;
object-fit: fill;
}

.mission{
  width: 100%;
  display: flex;
}
p{
  font-size: x-large;
  text-align: center;
  color: black;
}
h2{
  font-size:xx-large;
  color: black;
}
h1{
  font-size:xx-large;
  text-align: center;
  color: black;
}

.MissionContainer{
  width: 50%;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
  background-color:  rgba(238, 231, 231, 0.788);
  text-align: center;
   margin: 20px;
}
.MissionContainer p{
 margin-top: 55px;
}
.MissionImage {
  width: 50%;
  text-align: center; 
}
.MissionImage img {

width: 30rem;
border-radius: 10px;
box-shadow: 0 0 10px black;
margin-top: 12px;
}
.vission{
    width: 100%;
  display: flex;
}
.VissionContainer{
   width: 50%;
  border-radius: 15px;
   padding: 5px;
  box-shadow: 0 0 10px black;
   margin: 20px;
  background-color:  rgba(238, 231, 231, 0.623);
}
.VissionImage{
  width: 50%;
  text-align: center;
}
.VissionImage img{
  width: 30rem;
border-radius: 10px;
box-shadow: 0 0 10px black;
margin-top: 12px;
}
.icons{
  text-align: center;
}
 .fa-facebook-official{
  font-size: 4rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin: 10px;
}
 .fa-facebook-official:hover{
  transform: scale(1.1);
  color: blue;
}
.fa-youtube-play{
    font-size: 4rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin: 10px;
}
.fa-youtube-play:hover{
    transform: scale(1.1);
  color: red;
}
.fa-whatsapp{
    font-size: 4rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin: 10px;
}
.fa-whatsapp:hover{
    transform: scale(1.1);
  color: green;
}
h3{
  text-align: center;
}
}

.map{

  section{
height: 50vh;
display: flex;
  }
  .Container1{
    border: 4px solid black;
    width: 50%;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    padding-top: 20vh;
    padding-bottom: 25vh;
    background-color: red;
  }
a{
  text-decoration: none;
  font-size:  x-large;
}
.Container2{
  border: 4px solid black;
    width: 50%;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    padding-top: 20vh;
    padding-bottom: 25vh;
    background-color: red;
}
a:hover{
  color: white;
  text-decoration:underline;
}

}
.thankYou{

  background-image: url(/Images/tr\ \(6\).jpg);
     
   header{
    background-color: #2a3544c5;
    margin-top: none;
    margin-right: 0px;
    text-align: center;
    width: 97%;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
     
      a{
  text-decoration: none;
  display: flexbox;
  color: white;
  margin: 15px;
  font-size:  x-large;
  transition: 0.5s ease-in-out;
}

 a:hover{
   color: black;
   border-radius: 5px;
 }
    
     h1{
        font-size: xx-large;
        text-align: center;
     }
}
@media  only screen and (max-width: 600px){
  .home a{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    margin: 3px;
  }
  .home header{
    width: 95%;
    background-color: white;
    padding: 5px;
}
.home{
  background-image: url(/Images/b3.webp);
  background-size: 400px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
.home h1{
  font-size: large;
}
.home div{
  height: 40vh;
  width: 95%;
  background-color: beige;
}
.home p{

  font-size: larger;
  color: green;
}
.home div li{
  font-size: large;
  color: green;
  display: flexbox;
 
}
.home footer{
 margin: 5px;
 width: 95%;
 background-color: rgb(202, 187, 159);
 font-weight: lighter;
 }
 .gallery{
  background-size: 400px;
 }
  .gallery a{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    margin: 3px;
  }
  .gallery header{
    width: 97%;
    background-color: white;
    padding: 5px;
}
.gallery h1{
  margin-left: 30%;
  margin-right: 30%;
  padding: 3px;
  font-size: large;
  font-weight: lighter;
}
.gallery img{
 height: 30vh;
 width: 40vh;
}
.gallery footer{
 margin: 5px;
 outline: none;
 width: 95%;
 background-color: rgb(202, 187, 159);
 font-weight: lighter;
 }
 .order{
  background-size: 350px;
 }
  .order header{
    width: 97%;
    background-color: white;
    padding: 5px;
}
  .order a{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    margin: 3px;
  }
  .order form{
   font-size: large;
   text-align: center;
   padding: 10px;
  }
  .order .container{
  outline: none;
  margin-top: 10px;
  width: 97%;
  margin-left: 0px;
  box-shadow: 3px 3px 3px black;
  }
  .order form button{
    padding: 5px;
    font-size: large;
    margin-top: 5px;
    padding-bottom: 25px;
  }
  .order footer{
 margin-top: 15px;
 outline: none;
 width: 95%;
 background-color: rgb(202, 187, 159);
 font-weight: lighter;
 }
   .about header{
    width: 97%;
    background-color: white;
    padding: 5px;
}
  .about a{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    margin: 3px;
  }
  .about p{
    font-size: large;
  }
  .about footer{
     margin-top: 15px;
 outline: none;
 width: 95%;
 background-color: rgb(202, 187, 159);
 font-weight: lighter;
  }
  .contact{
    background-size: 350px;
  }
    .contact header{
    width: 97%;
    background-color: white;
    padding: 5px;
}
  .contact a{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    margin: 3px;
  }
  .contact .contain{
   flex-direction: column;
  }
  .contact .contain .formContainer{
   width: 95%;
   background: transparent;
  }
  .contact .contain .formContainer label{
    font-size: large;
  }
  .contact .contain .formContainer input{
    height: 25px;
  }
  .contact .contain .formContainer button{
    padding-bottom: 30px;
  }
  .contact .contain .contactContainer{
    width: 95%;
    height: 45vh;
    margin-left: 1px;
  }
    .contact footer{
 margin-top: 50vh;
 outline: none;
 width: 95%;
 background-color: rgb(202, 187, 159);
 font-weight: lighter;
 }

}




