header{
    background-color: darkgray;
    text-align: center;
    height: 1.5cm;
    width: 100%;
}
a{
   
}
header nav a {
   color: black;
   margin: 20px ;
}
h1{
   font-size: xx-large;
   text-align: center;
}
p{
  font-size: xx-large;
}
body{
   background-image: url(Images/b3.webp);
   background-size: cover;
   display: flex;
}
footer{
   background-color: rgb(202, 187, 159);
   font-size: x-large;
   text-align: center;
   height: 4cm;
    
}
nav a:hover{
   box-shadow: 5px 5px 5px white;
}
ul{
   font-size: xx-large;
   text-align: left;
}
h2{
font-size: x-large;
}